{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src='img/portfolio/cccmtl_white.png'></img>
            <p style="color:white;">Welcome to the first Apache CloudStack™ Collab conference of 2018 on September 24-26th 2018 in beautiful Montreal, Canada.</p>
            <a href="https://www.eventbrite.com/e/apachecon-north-america-2018-registration-43200327342" class="btn btn-default btn-xl" target="_blank">REGISTER</a>
        </div>
    </div>
</header>
