{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src='img/portfolio/cccmtl_white.png'></img>
            <p style="color:white; text-shadow: 2px 2px 3px rgba(0,0,0,0.6);">Welcome to the first Apache CloudStack™ Collab conference of 2018 on September 24-26th in beautiful Montreal, Canada.</p>
            <p style="color:white; text-shadow: 2px 2px 3px rgba(0,0,0,0.6);">
                The CloudStack Collaboration Conference is being run under the 
                <a style="color:rgba(255,255,255,.6)" href="https://www.apachecon.com/acna18/index.html" target="_blank">ApacheCon</a> umbrella.  
                When you <a style="color:rgba(255,255,255,.6)" href="https://www.eventbrite.com/e/apachecon-north-america-2018-registration-43200327342" target="_blank">register</a> or 
                <a style="color:rgba(255,255,255,.6)" href="https://www.apachecon.com/acna18/schedule.html" target="_blank">submit talks</a>, you will be redirected to the ApacheCon website.  
                <br /><br />If you submit a talk, be sure to note <code style="text-shadow: none;">CloudStack</code> in the title so it ends up in the right track.</p>
            <a href="https://www.eventbrite.com/e/apachecon-north-america-2018-registration-43200327342" class="btn btn-default btn-xl" target="_blank">REGISTER</a>
        </div>
    </div>
</header>
