{{ "<!-- LOCATION -->" | safeHTML }}
<aside class="bg-dark" id="location">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">Location</h2>
            <hr class="primary">
            <p>
                <a href="https://www.apachecon.com/acna18/venue.html" target="_blank">Montreal Marriott Chateau Champlain</a><br />
                1050 de la Gauchetiere West<br />
                Montreal, H3B 4C9, Canada
            </p>
            <div class="row">
               <div class="col-xs-12 col-md-10 col-md-push-1">
                    <div style="position:relative; padding-bottom:66.67%; height:0;">
                        <iframe style="position:absolute; top:0; left:0; width:100%; height:100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.6158827957956!2d-73.56975084899159!3d45.49767933912749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a5d372a98d5%3A0xe5584d40e1908266!2s1050+Rue+de+la+Gaucheti%C3%A8re+O%2C+Montr%C3%A9al%2C+QC+H3B+4C9!5e0!3m2!1sen!2sca!4v1521640466256" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <br><br>
                    <p class="text-faded" style="text-align:center;">For more information about accommodation and what to do in Montreal, <a href="https://www.apachecon.com/acna18/location.html" target="_blank">click here</a>.</p>
                    <br><br>
                    <a href="https://www.eventbrite.com/e/apachecon-north-america-2018-registration-43200327342" target="_blank" class="btn btn-default btn-xl wow tada">VISIT US</a>
                    <br><br>
            </div>
        </div>
        </div>
    </div>
</aside>