{{ "<!-- LOCATION -->" | safeHTML }}
<aside class="bg-dark" id="location">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">Watch #ccc2016mtl Online</h2>
            <hr class="primary">

	        <div class="row" style="margin-top:30px;">
	        	<div class="col-xs-12 col-md-8 col-md-push-2">
	        		Coming Soon!
					<!--[if lte IE 8]>
					<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
					<![endif]-->
					<!--<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
					<script>
					  hbspt.forms.create({ 
					    portalId: '732832',
					    formId: 'e350ac58-8c8b-4b38-8f4d-2bf62ca9399e'
					  });
					</script>-->
				</div>
			</div>
		</div>
    </div>
</aside>
