{{ "<!-- SPEAKERS -->" | safeHTML }}
<section class="bg-secondary" id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Register</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-push-2 text-center">
                <b style="font-size:120%;">Register early and save!</b><br />
                <br />
                Please note that the registration costs increase over time so the earlier you register the more you save.<br />
                <br />
                <b style="font-size:120%;">Registration Costs</b><br />
                <br />
                <ul style="text-align:left;">
                    <li><b>Committers:</b> $150 ($250 at the door) <i>- ask in the dev@ list if you need the code</i><span style="display:none;">APACHE2018</span></li>
                    <li><b>Early Bird (until July 21st):</b> $575</li>
                    <li><b>Regular Rate (after July 21st):</b> $800</li>
                </ul>
                <br />
                <a href="https://www.eventbrite.com/e/apachecon-north-america-2018-registration-43200327342" class="btn btn-primary btn-xl wow tada" target="_blank">REGISTER</a>
            </div>
        </div>
    </div>
</section>