{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1 text-center">
                <h2 class="section-heading">Schedule</h2>
                <hr class="light">
                <!--<p class="text-faded">
                    The below times are in the EDT (GMT-4) timezone.<br />
                    The current EDT time is: <span id="current-time" style="color:white;"></span>
                </p>-->
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px; text-align:left;">MONDAY, September 24th</div> 
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">&nbsp;</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded" style="text-align:center;">Ballroom</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded" style="text-align:center;">Viger C</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">09:00 - 10:00</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/c096e0e6db072051a" target="_blank">Welcome to the CloudStack Collaboration Conference</a> - Mike Tutkowski</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">&nbsp;</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">10:00 - 11:00</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/4ad1205d611eaf90a" target="_blank">Complex Networking Topologies in CloudStack</a> - Paul Angus</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/888a871e52b0af840" target="_blank">A Journey to CloudStack</a> - JF Nadeau, Syed Ahmed</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">11:00 - 11:20</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">-- Break --</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">&nbsp;</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">11:20 - 12:20</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/ae4b3e5978fb1de10" target="_blank">Backup and Recovery Framework</a> - Daan</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/8c87deb87e0d8b139" target="_blank">Logs and Metrics Collection in CloudStack</a> - Pierre-Luc Dion</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">12:20 - 13:20</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/05f9441cd381ab82e" target="_blank">CloudStack Integration with Hashicorp Vault</a> - Khosrow Moossavi</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/4501094783f32a07a" target="_blank">Migrating/Transforming your guest networks in CloudStack</a> - Kris Sterckx</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">13:20 - 14:40</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">-- Lunch --</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">&nbsp;</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">14:40 - 15:40</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/520317717889c9ca9" target="_blank">Virtual Router : Past, Present and Future</a> - Rohit Yadav</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/5f0f9440e4e74b84f" target="_blank">The story of building our CloudStack storage integration</a> - Boyan Krosnov</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">15:40 - 16:40</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/c051c26735531b58c" target="_blank">Volume and Snapshot Improvements in CloudStack</a> - Suresh Kumar Anaparti</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/d3b061c4a120801e8" target="_blank">CloudStack + Ceph</a> - S. Bretschneider</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">16:40 - 17:10</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/43e3bf7c38f86fa8e" target="_blank">Remote diagnostics in CloudStack</a> - Dingane Hlaluku</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/dcf32b078a6d4f21d" target="_blank">Billing with CloudStack</a> - Alexander Stock</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">17:10 - 17:30</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/29a1f805812130bb6" target="_blank">Load Balancing CloudStack Agent Connections</a> - Boris Stoyanov</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/ed119c819c39bb5d4" target="_blank">Your Own CloudStack For Less Than $500</a> - Darren Cole</div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:20px; margin-bottom:10px; text-align:left;">TUESDAY, September 25th</div> 
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">&nbsp;</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded" style="text-align:center;">Ballroom</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded" style="text-align:center;">Viger C</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">09:00 - 10:30</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">ApacheCon Keynotes</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">&nbsp;</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">10:30 - 11:05</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">-- Break --</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">&nbsp;</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">11:05 - 12:05</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/52ac629bef8be0d24" target="_blank">Container Service : K8S in your cloud</a> - Henko Holtzhausen</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/b7c6f66c44571926c" target="_blank">Community culture, code quality and testability</a> - Rafael Weingärtner</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">12:05 - 13:05</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/17a3bfd3b44cc1a33" target="_blank">GPU/vGPU Support in CloudStack</a> - Sateesh Chodapuneedi</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/6f90dbda7b9214aaf" target="_blank">CloudStack with Ansible Automation</a> - Ingo Jochim</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">13:05 - 14:30</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">-- Lunch --</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">&nbsp;</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">14:30 - 15:30</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/1d99b41248b72da21" target="_blank">Successfully Running Enterprise Workloads with CloudStack, KVM and Managed Primary Storage</a> - Andrija Panić</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/35c6c7a3d9b78386d" target="_blank">CloudStack usage service deep dive</a> - Dag Sonstebo</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">15:30 - 16:30</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/bbc49bea18dfedf78" target="_blank">Bypass Secondary Storage</a> - Nicolas Vazquez</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/8681fc851b6219977" target="_blank">Billing for CloudStack</a> - Pierre Vacherand</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">16:30 - 17:30</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 col-md-push-0 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/ab597c13d13cf6ba8" target="_blank">VPC private gateway practical uses and improvements</a> - Ernie Janse van Rensburg</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-4 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/e5b123e6ed01f2ec2" target="_blank">CloudStack Monitoring: In-Depth Checks For Production Deployments</a> - K B Shiv Kumar</div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:20px; margin-bottom:10px; text-align:left;">WEDNESDAY, September 26th</div> 
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">09:00 - 10:00</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">ApacheCon Keynotes</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">10:00 - 10:15</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">-- Break --</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">10:15 - 13:15</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/9a3bdf58f7eb1b243" target="_blank">CloudStack Hackathon</a> - Viger C</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">13:15 - 14:30</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">-- Lunch --</div>
                </div><div class="row">
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">14:30 - 17:30</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                        <a href="https://apachecon.dukecon.org/acna/2018/#/scheduledEvent/118b5ad61cd09df83" target="_blank">CloudStack Hackathon</a> - Viger C</div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    #schedule .text-faded {
        text-align:left;
    }
</style>

<!--<script type="text/javascript">
    setInterval(function() { 
        offset = -4.0 //EDT
        client_date = new Date();
        utc = client_date.getTime() + (client_date.getTimezoneOffset() * 60000);
        server_date = new Date(utc + (3600000*offset));
        $('#current-time').html(server_date.toLocaleString());
    }, 1000);
</script>-->
