{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1 text-center">
                <h2 class="section-heading">Schedule</h2>
                <hr class="light">
                <p class="text-faded">
                    The schedule has not yet been set for the event.<br />
                    <br />
                    Please note the following important dates.<br />
                    <br />
                    <b>March 30</b>: CFP closes<br />
                    <b>April 20</b>: Speakers notified<br />
                    <b>May 11</b>: Schedule announced<br />
                    <b>September 18</b>: Slides due from speakers
                </p>
               <a href="https://www.eventbrite.com/e/apachecon-north-america-2018-registration-43200327342" target="_blank" class="btn btn-default btn-xl">BUY A TICKET</a>
            </div>
        </div>
    </div>
</section>
