{{ "<!-- SPONSORS -->" | safeHTML }}
<section class="bg-secondary"  id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container" style="text-align:center">
        <div class="row" style="margin-top:5px; margin-bottom:5px;">
            <div class="col-xs-12 col-md-6 text-center">
                <div class="sponsor-box">
                    <a href="http://www.shapeblue.com/" target="_blank"><img style="width:90%" src="img/sponsors/shapeblue.png"></img></a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 text-center">
                <div class="sponsor-box" style="margin-top:40px;">
                    <a href="https://www.cloudops.com/" target="_blank"><img style="width:80%" src="img/sponsors/cloudops.png"></img></a>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-xs-12 col-md-8 col-md-push-2">
                <p>The CloudStack Collaboration Conference is being run under the ApacheCon umbrella conference.  All sponsorship will be done through ApacheCon, so please review the following details.</p>

                <p>Please be sure to reference <code>CloudStack</code> when sponsoring the event so your contribution can be attributed and given proper visibility in the CloudStack Collaboration Conference.</p>

                <p>The following sponsorship options are available.  Please choose how you would like to support the event from the following options.</p>

                <style>
                    table {
                        width:100%;
                    }
                    table th {
                        background:#0984a3;
                        color:white;
                        text-align:center;
                        padding:3px 5px;
                        border:1px solid #ccc;
                    }
                    table td {
                        padding:3px 5px;
                        border:1px solid #ccc;
                    }
                </style>

                <table>
                    <tr>
                        <th style="text-align:right;">SPONSORSHIP LEVEL</th>
                        <th>PLATINUM</th>
                        <th>GOLD</th>
                        <th>SILVER</th>
                        <th>BRONZE</th>
                    </tr>
                    <tr>
                        <th style="text-align:right;">NUMBER AVAILABLE</th>
                        <th>2</th>
                        <th>4</th>
                        <th>4</th>
                        <th>4</th>
                    </tr>
                    <tr>
                        <th style="text-align:right;">COST</th>
                        <th>$25,000</th>
                        <th>$15,000</th>
                        <th>$10,000</th>
                        <th>$5,000</th>
                    </tr>
                    <tr>
                        <td style="text-align:left;">15 minute keynote</td>
                        <td><i class="fa fa-star"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Session speaking opportunity</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-star"></i></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Message in pre-conference email</td>
                        <td><i class="fa fa-star"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Recognition during keynote</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-star"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Recognition on tde event website</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Recognition on tde event signage</td>
                        <td>Logo</td>
                        <td>Logo</td>
                        <td>Logo</td>
                        <td>Text</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Logo on t-shirt</td>
                        <td><i class="fa fa-star"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Exhibit booth (large)</td>
                        <td><i class="fa fa-star"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Exhibit booth (regular)</td>
                        <td><i class="fa fa-star"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Conference passes</td>
                        <td>8</td>
                        <td>6</td>
                        <td>4</td>
                        <td>2</td>
                    </tr>
                </table>

                <br /><br />
                <p><b>Additional Options</b></p>
                <table>
                    <tr>
                        <th style="text-align:left;">SPONSORSHIP OPTION</th>
                        <th>PRICE</th>
                        <th>AVAILABLE</th>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Videography</td>
                        <td>$5000</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Lanyards</td>
                        <td>$3500</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Swag bags for all attendees</td>
                        <td>$2000</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Coffee breaks</td>
                        <td>$500</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Off-site evening event *</td>
                        <td>$10,000</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Logo on t-shirt</td>
                        <td>$250</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Speaker dinner</td>
                        <td>$2000</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Lightning talks and beer reception</td>
                        <td>$3000</td>
                        <td>2</td>
                    </tr>
                </table>
                <p>* If you're interested in options for sponsoring or hosting an evening event, contact Ruth Suehle (<a href="mailto:suehle@apache.org?subject=Sponsor CloudStack Event in Montreal (ApacheCon)" target="_blank">suehle@apache.org</a>) to discuss options.</p>
            </div>
        </div>-->
        <!--<div class="row">
            <div class="col-xs-12 col-sm-6 text-center">
                <div class="sponsor-box">
                    <a href="https://accelerite.com/" target="_blank"><img style="margin-top:20px;" src="img/sponsors/accelerite.png"></img></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <div class="sponsor-box">
                    <a href="http://datera.io/#home" target="_blank"><img style="margin-top:20px;" src="img/sponsors/datera.png"></img></a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:45px;">
            <div class="col-xs-6 col-sm-3 col-sm-push-2 text-center">
                <div class="sponsor-box">
                    <a href="http://www.cloudops.com" target="_blank"><img style="margin-right:30px" src="img/sponsors/cloudops.png"></img></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-sm-push-2 text-center">
                <div class="sponsor-box">
                    <a href="http://centre.cloud.ca/" target="_blank"><img style="margin-right:30px" src="img/sponsors/centrecloudca.png"></img></a>
                </div>
            </div>
            <div class="col-xs-6 col-xs-push-3 col-sm-3 col-sm-push-2 text-center">
                <div class="sponsor-box">
                    <a href="http://www.solidfire.com/" target="_blank"><img style="margin-top:35px; margin-right:30px" src="img/sponsors/solidfire.png"></img></a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:45px;">
            <div class="col-xs-4 col-sm-2 col-sm-push-2 text-center">
                <div class="sponsor-box">
                    <a href="http://www.shapeblue.com/" target="_blank"><img src="img/sponsors/shapeblue.png"></img></a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2 col-sm-push-2 text-center">
                <div class="sponsor-box">
                    <a href="https://qstack.com/" target="_blank"><img style="margin-top: 15px;" src="img/sponsors/qstack.png"></img></a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2 col-sm-push-2 text-center">
                <div class="sponsor-box">
                    <a href="http://www.nuagenetworks.net/" target="_blank"><img src="img/sponsors/nuage.png"></img></a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2 col-sm-push-2 text-center">
                <div class="sponsor-box">
                    <a href="http://www.cloudian.com/" target="_blank"><img style="margin-top: 30px;" src="img/sponsors/cloudian.png"></img></a>
                </div>
            </div>
        </div>-->
    </div>
    <!--<br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:kmcgrail@apache.org?subject=Sponsor CloudStack in Montreal (ApacheCon)" class="btn btn-primary btn-xl wow tada" target="_blank">BECOME A SPONSOR</a>
            </div>
        </div>
    </div>-->
</section>
